<br>

<div class="container">
  <%= form_for(@image, :html => {class: 'col s12', :multipart => true}) do |f| %>
  <% if @image.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

    <ul>
      <% @image.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="input-field col s6">
      <%= f.label :'File Name' %><br>
      <%= f.text_field :filename, :placeholder => 'reference filename' %>
    </div>

  </div>
  <div class="row">
    <div class="input-field col s6">
    <%= f.label :'Title' %><br>
    <%= f.text_field :title %>
  </div>
  </div>
  <div class="row">
    <%= f.label :'Upload Image' %>
     <!-- <%= cl_image_upload_tag(:image_id) %> -->
    <%= f.attachinary_file_field :photos%>
  </div>
  <div class='row'>
    <div class="input-field col s6">
    <%= f.label :'Date Created' %><br>
    <%= f.date_field :dateCreated %>
  </div>
  </div>
</div>
<div class="container">
  <%= f.fields_for :editions do |e| %>
  <div class="row">
    <div class="input-field col s6">
    <%= e.label :'Image Size' %><br>
    <%= e.text_field :size %>
  </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <%= e.label :'Number in Edition' %><br>
    <%= e.number_field :number %>
  </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <%= e.label :'Sold To' %><br>
    <%= e.text_field :soldTo %>
  </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <%= e.label :'Sale Date' %><br>
    <%= e.date_field :saleDate %>
  </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <%= e.label :'Sale Amount' %><br>
    <%= e.text_field :saleAmount %>
  </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
    <%= e.label :'Number Remaining' %><br>
    <%= e.number_field :numberRemaining %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
<% end %>
