<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Datecreated:</strong>
  <%= @image.dateCreated %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<h3>Edition Information</h3>
<% if @image.editions.any? %>
<ul>
  <% @image.editions.each do |e| %>
  <li><%= editions %></li>
</ul>
<%end%>
<%end%>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
