<p id="notice"><%= notice %></p>
<div class="container">
  <h3>Image Information</h3>
  <p>
    <strong>Filename:</strong>
    <%= @image.filename %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @image.title %>
  </p>

  <p>
    <% @image.photos.each do |photo| %>
        <%= cl_image_tag(photo.path, { width: '500', crop: :fit }) %>
    <% end %>
  </p>



  <p>
    <strong>Datecreated:</strong>
    <%= @image.dateCreated %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @image.user_id %>
  </p>

  <h3>Edition Information</h3>
  <% if @image.editions.any? %>
  <ul>
    <% @image.editions.each do |e| %>
    <li>Image Size: <%= e.size %></li>
    <li>Number in Edition: <%= e.number %></li>
    <li>Sold To: <%= e.soldTo %></li>
    <li>Sale Date: <%= e.saleDate %></li>
    <li>Sale Amount: <%= e.saleAmount %></li>
    <li>Number Remaining in Edition: <%= e.numberRemaining %></li>
  </ul>
  <%end%>
  <%end%>
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>

</div>
