<p id="notice"><%= notice %></h4>
<div class="container">
  <h3>Image Information</h3>
  <h4>
    Filename:
    <%= @image.filename %>
  </h4>

  <h4>
    Title:
    <%= @image.title %>
  </h4>
  <h4>
    Datecreated:
    <%= @image.dateCreated %>
  </h4>
  <h4>
    <% @image.photos.each do |photo| %>
        <%= cl_image_tag(photo.path, { width: '500', crop: :fit }) %>
    <% end %>
  </h4>


<hr>

  <h3>Edition Information</h3>
  <% if @image.editions.any? %>

    <% @image.editions.each do |e| %>
    <h4>Image Size: <%= e.size %></h4>
    <h4>Number in Edition: <%= e.number %></h4>
    <h4>Sold To: <%= e.soldTo %></h4>
    <h4>Sale Date: <%= e.saleDate %></h4>
    <h4>Sale Amount: <%= e.saleAmount %></h4>
    <h4>Number Remaining in Edition: <%= e.numberRemaining %></h4>

  <%end%>
  <%end%>
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
  <%= link_to "PDF Invoice", image_path(@image, :format => 'pdf') %>

</div>
