<!DOCTYPE html>
<html>
<head>
  <title>ArtVentory</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vegas', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag  'vegas', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <%= stylesheet_link_tag  'app', media: 'all', 'data-turbolinks-track' => true %>

  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>




</head>

<body>

  <%= render 'layouts/nav' unless @disable_nav %>

  <%= yield %>

  <footer class="page-footer blue-grey ">
           <div class="container">
             <div class="row">
               <div class="col l6 s12">
                 <h5 class="white-text">Footer Content</h5>
                 <p class="grey-text text-lighten-4"></p>
               </div>
               <div class="col l4 offset-l2 s12">
                 <h5 class="white-text">Links</h5>
                 <ul>
                   <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                   <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                   <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                   <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="footer-copyright">
             <div class="container">
             © 2015 ArtVentory
             <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
             </div>
           </div>
         </footer>

</body>
</html>
